.inputWrap {
  position: relative;
  display: flex;
  align-items: center;
  input {
    width: 100%;
  }
  .status {
    position: absolute;
    right: 5px;
    font-size: 12px;
    cursor: help;
  }
}
